@{
}

<form method="post" asp-action="Login" asp-controller="LogReg">
	<input type="email" name="email" placeholder="example@gmail.com" requared/>
	<input type="password" name="password" requared />
	<button class="btn btn-outline-success">Enter</button>
</form>
<a asp-action="Registration" asp-controller="LogReg">Registration</a>