@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>You download adult content. Your account was blocked</h1>

@section Scripts{
    <script>
        document.addEventListener("DOMContentLoaded",()=>{
            setTimeout(myURL, 5000);
        })
        function myURL() {
            document.location.href = 'https://localhost:7156/LogReg/Logout';
        }
    </script>
}